// layar 1200
@media (max-width: 976px) {
  .container {
    .navbar {
      width: 100%;
      //   overflow-x: hidden;
      .logo {
        margin-left: 0;
      }

      .toggle {
        display: inline-block;
        cursor: pointer;
      }

      .navbar-nav {
        z-index: 999;
        position: absolute;
        background-color: #fff;
        top: 100%;
        right: 1500px;
        width: 300px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        // display: none;
        // margin-right: 40px;

        &.active {
          display: block;
          top: 70px;
          right: 20px;
        }

        ul {
          //   margin-top: 30px;
          display: block;

          justify-content: center;

          li {
            margin-top: 20px;
            // display: flex;
            margin-left: 50px;
            // align-content: center;

            a {
              color: $textColor;
            }
          }
        }
      }
    }
  }

  .hero {
    .main-hero {
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .left {
        h1 {
          font-size: 35px;
        }

        p {
          font-size: 16px;
        }

        .items {
          .information {
            h2 {
              font-size: 25px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        .locations {
          p {
            font-size: 16px;
          }

          span {
            padding: 10px 50px 10px 10px;
          }
        }
      }

      .right {
        .bg {
          img {
            width: 100%;
            min-width: 500px;
          }
        }
      }
    }
  }

  // Partner
  .section-partner {
    .partner-logo {
      img {
        max-width: 150px;
      }
    }
  }
  // End
}
// TABLET
@media (max-width: 760px) {
  .container {
    .navbar {
      width: 100%;
      //   overflow-x: hidden;
      .logo {
        margin-left: 0;
      }

      .toggle {
        display: inline-block;
        cursor: pointer;
      }

      .navbar-nav {
        z-index: 999;
        position: absolute;
        background-color: #fff;
        top: 100%;
        right: 1500px;
        width: 300px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        // display: none;
        // margin-right: 40px;

        &.active {
          display: block;
          top: 70px;
          right: 20px;
        }

        ul {
          //   margin-top: 30px;
          display: block;

          justify-content: center;

          li {
            margin-top: 20px;
            // display: flex;
            margin-left: 50px;
            // align-content: center;

            a {
              color: $textColor;
            }
          }
        }
      }
    }
  }

  .hero {
    .main-hero {
      // flex-direction: column;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .left {
        h1 {
          font-size: 35px;
        }

        p {
          font-size: 16px;
        }

        .items {
          .information {
            h2 {
              font-size: 25px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        .locations {
          p {
            font-size: 16px;
          }

          span {
            padding: 10px 50px 10px 10px;
          }
        }
      }

      .right {
        .bg {
          img {
            width: 100%;
            min-width: 500px;
          }
        }
      }
    }
  }

  // Partner
  .section-partner {
    .partner-logo {
      img {
        max-width: 100px;
      }
    }
  }
  // End
}

// MOBILE
@media (max-width: 600px) {
  .container {
    .navbar {
      width: 100%;
      //   overflow-x: hidden;
      .logo {
        margin-left: 0;
      }

      .toggle {
        display: inline-block;
        cursor: pointer;
      }

      .navbar-nav {
        z-index: 999;
        position: absolute;
        background-color: #fff;
        top: 100%;
        right: 1500px;
        width: 300px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        // display: none;
        // margin-right: 40px;

        &.active {
          display: block;
        }

        ul {
          //   margin-top: 30px;
          display: block;

          justify-content: center;

          li {
            margin-top: 20px;
            // display: flex;
            margin-left: 50px;
            // align-content: center;

            a {
              color: $textColor;
            }
          }
        }
      }
    }
  }

  .hero {
    .main-hero {
      // flex-direction: column;
      flex-wrap: wrap;

      .left {
        // background-color: blue;
        margin-left: 15px;
        margin-bottom: 300px;
        // padding: 20px;
        h1 {
          font-size: 35px;
        }

        p {
          font-size: 16px;
        }

        .items {
          .information {
            h2 {
              font-size: 25px;
            }

            p {
              font-size: 16px;
            }
          }
        }

        .locations {
          p {
            font-size: 16px;
          }

          span {
            padding: 10px 50px 10px 10px;
          }
        }
      }

      .right {
        .bg {
          padding: 0;
          margin-top: -200px;

          img {
            width: 100%;
            min-width: 200px;
          }
        }
      }
    }
  }

  // Partner
  .section-partner {
    .partner-logo {
      img {
        max-width: 100px;
      }
    }
  }
  // End
}
